<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>roomieup</title>
  </head>
  <body>

    <!-- <h1 class="ontop"> roomieup</h1>
    <h2 class="ontop"> find space. connect. launch.</h2> -->
    <div class="logo">
      <img src="http://i.imgur.com/spbIxDB.png" alt="" />
    </div>
    <div class="logobox">
      <h4>Coming Soon!</h4>
    </div>
  </body>
</html>
