<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>roomieup</title>
  </head>
  <body>
    <!-- <h1 class="ontop"> roomieup</h1>
    <h2 class="ontop"> find space. connect. launch.</h2> -->
    <div class="logo">
      <img src="http://i.imgur.com/ZsXBzlm.gif" alt="" />
    </div>
    <div class="logobox">
      <h4>Sign Up for Notifications:</h4>
      <form class="sign-in" action="index.html" method="post">
        <label for="">
        <input type="text" name="name" value="">
        </label>
      </form>
    </div>
  </body>
</html>
