
html{
  background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}
li > button{
  display: none;
}
.list-btn{
  background: black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  opacity: .5;
  padding: 5px;
  width: 50px;
  margin: 3px 3px;
}
.list-btn:hover{
  cursor: pointer;
  opacity: .75;
}
.indexForm{
  position: relative;
  background-color: rgba(255,255,255,.2);
  padding: 10px;
  border-radius: 30px;
}
.searchIndex{
  overflow: hidden;
  background-color: rgba(255,255,255,.2);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 10px;
  border-radius: 30px;
}
.homebackground{
  width: 50%;
  height: 50%;
  top: 100px;
  right: 450px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
}
.savedBackground{
  width: 50%;
  height: 50%;
  top: 100px;
  right: 450px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
  border-radius: 50%;
 -webkit-transition: -webkit-transform .1s ease-in-out;
 transition: transform .1s ease-in-out;
}
.savedBackground:hover {
  transform-origin: left;
  transform: rotate(900deg);
}
.chatbackground{
  width: 50%;
  height: 50%;
  top: 100px;
  right: 200px;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
}
.imgbg{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: black;
  padding: 30px;
  opacity: .5;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
}
#root{
  position: absolute;
  top: 10%;
  left: 20%;
}
.signformbtnguest{
  border-style: none;
  position: relative;
  top: 33px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  background-color: black;
  opacity: .5;
  width:300px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
  display: block;
  text-align: center;
}
.signformbtnguest:hover{
  opacity: .75;
  cursor: pointer;
}
.logsignform{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p.username{
  display: none;
}
.signformbtn{
    border-style: none;
    position: relative;
    top: 25px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    background-color: black;
    width:300px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 20px black;
    display: block;
    text-align: center;
}
.signform{
  position: relative;
  margin: 10px auto;
  padding: 0;
  height: 75px;
  width: 300px;
  background-color: black;
  opacity: .5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
}
.loginform{
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 300;
  top: 15px;
  margin: 5px 10px;
}
.logo{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  opacity: .75;
  transition: transform 1s ease;
}
.username{
  font-size: 24px;
  color: white;
}
.chat{
  background-image: asset-data-url("chat.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.home{
  background-image: asset-data-url("home.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.saved{
  background-image: asset-data-url("saved.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.searchListings{
  background-image: asset-data-url("searching.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.chat:hover{
  background-color: rgba(255,255,255,.2);
  border-radius: 20px;
}
.home:hover{
  background-color: rgba(255,255,255,.2);
  border-radius: 20px;
}
.saved:hover{
  background-color: rgba(255,255,255,.2);
  border-radius: 20px;
}
.searchListings:hover{
  background-color: rgba(255,255,255,.2);
  border-radius: 20px;
}
.navli{
  position: relative;
  margin: 0 150px 0 0 ;
  width: 0;
  display: flex;
  align-content: center;
}
.navul{
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
}
.navbar{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.signbtn{
  border-style: none;
  position: relative;
  top: 40px;
  color: white;
  font-size: 23px;
  font-weight: 300;
  padding: 1px;
  margin: 0;
  background-color: black;
  opacity: .5;
  width:300px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
  display: block;
  text-align: center;
}
.signbtn:hover{
  opacity: .75;
  cursor: pointer;
}
.signformbtn:hover{
  border-style: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;

}
.logsignform:hover .logo{
  opacity: 1;
  transform: translateY(-25px);
}
input.sign-btn{
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
  height: 50px;
  width: 100px;
  background-color: black;
  opacity: .5;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
}
input.sign-btn:hover{
  cursor: pointer;
}

.contentpane{
  position: relative;
  display: flex;
  align-content: center;
  width: auto;
  height: auto;
  overflow: auto;
}
