

html{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height:100%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}
#root > * {
  flex: 1 100%;
}
@media all and (min-width: 800px) {
  .main    { flex: 2 0px; }
  .main    { order: 1; }
  .footer  { order: 3; }
}
.appdiv{
  height: 100%;
  margin: 0;
  padding: 0;
}

.navul {
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0;
  height: 65px;
  background: transparentize(ghostwhite, .6);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.navul-login {
  position: relative;
  z-index: 3;
  list-style: none;
  margin: 0;
  right: 0;
  height: 65px;
  width: 65px;
  background: transparentize(ghostwhite, .6);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}


.navul a {
  text-decoration: none;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  color: white;

}
.navul li:hover {
  background: darken(ghostwhite, 5%);
  cursor: pointer;
  border-radius: 3px;
}
.navDesc{
  display: none;
  padding: 0;
  margin: 0;
}
.navli:hover .navDesc{
  display: block;

}
@media all and (max-width: 800px) {
  .navul {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navul {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navul a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navul li:last-of-type a {
    border-bottom: none;
  }
}
.splash{
  background-image: asset-data-url("splash.svg");
  height: 50px;
  width: 50px;
}
.splashli{
  position: absolute;
  left: 0;
}
.chat{
  background-image: asset-data-url("chat.svg");
  height: 50px;
  width: 50px;
}
.home{
  background-image: asset-data-url("home.svg");
  height: 50px;
  width: 50px;
}
.saved{
  background-image: asset-data-url("saved.svg");
  height: 50px;
  width: 50px;
}
.searchListings{
  background-image: asset-data-url("searching.svg");
  height: 50px;
  width: 50px;
}
.logout{
  background-image: asset-data-url("logout.svg");
  height: 50px;
  width: 50px;
  justify-content: flex-end;
}
.navli .authDiv{
  position: relative;
  bottom: 15%;
}
.logoutButton{
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: black;
  border: none;
  background: none;
  display: block;
}


.login{
  background-image: asset-data-url("login.svg");
  height: 50px;
  width: 50px;
  justify-content: flex-end;
}
.logoutli{
  justify-content: flex-end;
  height: 65px;
}

.main{
  text-align: left;
  height: calc(100% - 110px);
  background: rgba(255,255,255,.75);
}
.splash-main{
  height: 294%;
}
.splash-video{
  position: absolute;
  background: url(https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  top:0;
  left:0;
  z-index: 2;
  overflow-x: hidden;
  width: 101%;
  height: 100%;
}
.splash-header-group{
  position: relative;
  text-align: left;
  left: 20%;
  top: 30%;
}
.splash-header{
  color: white;
  font-size: 110px;
  font-weight: 700;
  margin: 0;
}
.splash-about{
  position: absolute;
  top: 100%;
  height: 100%;
  width: 101%;
  background: ghostwhite;
}
.splash-about-header{
  position: absolute;
  top: 100px;
  color: black;
  font-size: 50px;
  left: 25%;
  font-weight: 700;
  text-shadow: 0px 0px 50px white;
  margin: 0;
}
.splash-about-row{
  position: absolute;
  top: 35%;
  left: 25%;
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
  align-items: flex-start;
}
.about-row{
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-items: center;
  margin: 10px;
  width: 10%;
}
.splash-login{
  position: absolute;
  top: 200%;
  height: 100%;
  width: 101%;
  background: #eee;
}
.splash-down{
  position: absolute;
  top: 85%;
  width: 20%;
  left: 50%;
  height: 10%;
  z-index: 2;
  color: ghostwhite;
}
.about-down{
  position: absolute;
  bottom: 15px;
  width: 20%;
  left: 50%;
  height: 10%;
  z-index: 0;
  color: #222;
}
.downarrow{
  position: relative;
  // background-image: asset-data-url("downarrow.svg");
  font-size: 30px;
  height: 50px;
  width: 50px;
}
.downarrow:hover{
  cursor: pointer;
}
.searchListings-splash{
  background-image: asset-data-url("searching.svg");
  height: 100px;
  width: 100px;
}
.chat-splash{
  background-image: asset-data-url("chat.svg");
  height: 100px;
  width: 100px;
}
.splash-splash{
  background-image: asset-data-url("splash.svg");
  height: 100px;
  width: 100px;
}

.profile{
  position: absolute;
  text-align: left;
  width: 50%;
  overflow-y: scroll;
  height: calc(100% - 110px);
  margin-left: 50px;
}
.profilephoto{
  width: 60%;
  height: auto;
  border: 5px solid ghostwhite;
  border-radius: 10px;
  left: 195px;
}
.usernamedisp{
  color: black;
  width: 60%;
  text-align: center;
  height: 1.5em;
  padding: 0;
  font-size: 24px;
  margin: 0;
  background: ghostwhite;
  line-height: 1.5em;
  border-radius: 3px;
}
.photo-btn{
  background: rgba(0,0,0,.2);
  height: 15px;
  width: 10px;
  position: absolute;
  padding: 5px;
  background-color: transparent;
  margin: 3px 3px;
  top: 20px;
  left: 20px;
}
.profdesc{
  resize: none;
  min-height: 245px;
  height: 50px;
  width: 60%;
  border: 1px ridge;
  background: rgba(15,80,255,.04);
}
.notificationList{
  position: absolute;
  top: 35%;
  width: 100%;
  left: 42%;
  list-style: none;
  border-left: 1px ridge;
  border-top: 1px ridge;
  margin: 10px;
  max-height: 350px;
  overflow-y: scroll;
  text-align: left;
}
.pref-group{
  position: absolute;
  top: 2%;
  left: 43%;
  height: 25%;
  width: 100%;
  background: ghostwhite;
  border: 1px ridge;
}
.pref-header{
  position: absolute;
  font-size: 24px;
}
.preferences{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.pref-div{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column;
}
.photo-btn{
  background-image: asset-data-url("edit.svg");
  height: 15px;
  width: 10px;
  position: absolute;
  padding: 5px;
  background-color: transparent;
  margin: 3px 3px;
  top: 20px;
  left: 20px;
}
.photo-btn:hover{
  cursor: pointer;
  background-color: ghostwhite;
  opacity: .5;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 50%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: calc(100% - 110px);
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;

}

.index {
  position: absolute;
  text-align: left;
  width: 50.9%;
  overflow-y: scroll;
  height: calc(100% - 217px);
}

@media all and (min-width: 800px) {
  .index { flex: 2 0px; }
  .index { order: 1; }
}
.map{
  position: absolute;
  display: block;
  height: calc(100% - 110px);
  left: 50.8%;
  width: 49.2%;
}
li > button{
  display: none;
}
.sliderimage{
  width: 300px;
  height: 300px;

}
.sliderlabel{
  position: relative;
  left: 200px;
}
.bedrooms{
  border-top: 1px solid gray;
}
.filter{
  margin-right: 2px;
  display: flex;
  top: 25%;
  left: 10%;
  flex-flow: row;
  justify-content: flex-start;
  position: relative;
  height: 45px;
  line-height: 45px;

}
.filter-city{
  width: 200px;
  position: absolute;
  top: 50%;
  right: 10%;
  display: flex;
}
.form-price{
  position: absolute;
  left: 20%;
}
.form-br{
  position: absolute;
  left: 20%;
  text-align: center;
}
.searchBox{
  text-align: center;
}
.listContainer{
  position: relative;
  height: 370px;
}
.list-btn{
  position: absolute;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background: rgba(0,0,0, .6);
  padding: 5px;
  width: 50px;
  margin: 3px 3px;
  top: 0;
  right: 0;
}
.list-btn:hover{
  cursor: pointer;
  background: rgba(0,0,0, .75);
}
.searchBox{
  text-size: 20px;
  margin: 3px;
  width: 15em;
  height: 3em;
}

.listingForm{
  height: 150px;
  position: relative;
  width: 50.6%;
  display: flex;
  flex-flow: column;
  border: 1px ridge;
  background: ghostwhite;
}
.indexForm{
  position: relative;
  padding: 10px;
  border-radius: 30px;
}
.searchIndex, .savedIndex{
  overflow: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 10px;
  border-radius: 30px;
}

.listingcollection {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-height: 650px;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.listing-index-item {
  display: relative;
  border-radius: 5px;
  padding-bottom: 5px;
  margin: 10px;
  width: 300px;
  height: 450px;
}
.slider-frame{
  border-radius: 3px;
}
.title{
  font-size: 19px;
  position: absolute;
  padding-left: 5px;
  top: 90%;
  opacity: 0.5;
}
.title:hover{
  cursor:pointer;
  opacity: 1;
}
.price{
  position: absolute;
  bottom: 20%;
  background: rgba(0,0,0, .6);
  width: 70px;
  color: ghostwhite;
  height: 1.5em;
  text-align: center;
  text-size: 16px;
  line-height: 1.5em;
}
.bedroom{
  position: absolute;
  left: 67%;
  bottom: 20%;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  width: 30%;
  color: ghostwhite;
  height: 1.5em;
  line-height: 1.5em;
  padding-left: .5em;
}
.modal{
  position: absolute;
  top: 65px;
  left: 20%;
  background: white;
  width: 800px;
  max-height: calc(100% - 126px);
  overflow-y: scroll;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  margin: 10px;
}
.modalclose{
  background: #222;
  color: ghostwhite;
  width: 75px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: .5;
}
.modalclose:hover{
  cursor: pointer;
  opacity: .75;
}
.rentlink{
  background: #222;
  color: ghostwhite;
  width: 75px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .5;
}
.rentlink:hover{
  cursor: pointer;
  opacity: .75;
}
.modalContainer{
  margin: 10px;
  position: relative;
}
.modalImages{
  position: relative;
  left: 30%;
}

  .authDiv{
    position: absolute;
    bottom: 100px;
    right: 0;
    height: 100%;
    width: 100%
  }
  .log{
    height: 100%;
  }
  .frontauth{
    height: calc(100% - 300px);
    display: block;
    position: relative;
    top: 25%;
  }
  .frontauth:hover .logo{
    opacity: 1;
    transform: translateY(-50px);
  }
  .logo{
    position: relative;
    opacity: .75;
    transition: transform 1s ease;
  }
  .log{
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .signup{
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-label{
    font-weight: 400px;
    font-size: 20px;
  }
  .form-input{
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
  }
  .form-submit{
    color: white;
    text-size: 300px;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background: black;
    opacity: .5;
  }

  .form-submit:hover{
    opacity: .75;
    cursor: pointer;
  }

.chatpane{
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: calc(100% - 110px);
  font-weight: bold;
  text-align: center;
  overflow-y: scroll;
}
.chatIndex{
  height: calc(100% - 110px);
  width: 60%;
}
.chatList{
  list-style: none;
  padding-left: 0;
}
.chatTitle{

  min-height: 3em;
  line-height: 3em;
}
.chatTitle:hover{
  cursor: pointer;
}
.chatItem{
  margin: 0;
  text-size: 20px;
  border-radius: 10px;
}
.chatName{
  color: white;
  background: black;
  opacity: .25;
  padding-left: 5px;
  padding-right: 15px;
  text-align: right;
}
.chatName:hover{
  opacity: .5;
}
.chatappear-enter{
  opacity: 0.01;
}
.chatappear-enter.chatappear-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.chatappear-leave{
  opacity: 1;
}
.chatappear-leave.chatappear-leave-active{
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.messageGroup{

  position: relative;
  width: 50%;

  width: 100%;
  background: rba(0,0,0,.3);
  color: black;
}
.messageList{
  position: relative;
  list-style: none;
  background: ghostwhite;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  height: 350px;
  overflow-y: scroll;
  padding: 0;
}
.message{
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 1em;
  position: relative;
  display: block;
  background: white;
  text-align: left;
  height: 1em;
  position: relative;
  width: auto;
  padding-left: .5em;
  border-bottom: .01em ridge;
}
.messageText{
  margin: 0;
  width: auto;
}
.messageForm{
  width: 100%;
  height: 50px;
}
.messageInput{
  width: 80%;
  height: 50px;
}
.messageSubmit{
  width: 10%;
  margin-left: 20px;
  height: 50px;
  border: none;
  background: darken(ghostwhite, 5%);
  font-weight: 600;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;

}
.messageSubmit:hover{
  background: darken(ghostwhite, 10%);
  cursor: pointer;
}


.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  font-weight: 300;
  color: ghostwhite;
  background-color: #222;
  line-height: 45px;
}
.footer-splash{
  position: fixed;
  bottom: 0;
  background: #222;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: ghostwhite;
  z-index: 1;
}
.gitlink{
  color: white;
  position: relative;
}
.giticon{
  position: absolute;
  bottom: -50%;
  left: 110%;
  background-image: asset-data-url("GitHub-Mark-Light-32px.png");
  height: 32px;
  width: 32px;
}
