
//DESIGN GROUP

// body{
//   border: 5px dashed rgba(0, 0, 0, .7);
// }
// #root{
//   border: 5px dashed rgba(50, 0, 0, .4);
// }
// .appdiv{
//   border: 5px dashed rgba(100, 0, 0, .7);
// }
// .navul{
//   border: 5px dashed rgba(200, 0, 0, .7);
// }
// .navul a {
//   border: 1px dashed rgba(255, 0, 0, .7);
// }
// .main{
//   border: 5px dotted rgba(0, 0, 0, .7);
// }
// .profile{
//   border: 1px dashed rgba(150, 0, 0, .4);
// }
// .profilephoto{
//   border: 1px dashed rgba(200, 0, 0, .4);
// }
// .usernamedisp{
//   border: 1px dashed rgba(250, 0, 0, .4);
// }
// .profdesc{
//   border: 1px dashed rgba(0, 0, 0, .4);
// }
// .indexForm{
//   border: 3px dashed rgba(150, 0, 0, .7);
// }
// .searchIndex, .savedIndex{
//   border: 3px dashed rgba(150, 0, 0, .7);
// }
// .footer{
//   border: 5px dashed rgba(0, 0, 0, .4);
// }
//End DESGIN GROUP

//WORKING GROUP
#root{
  z-index: 0
}
//END WORKING GROUP




//STYLING START
html{
//  background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
//ROOT and APPDIV
#root{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height:100%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}
#root > * {
  flex: 1 100%;
}
@media all and (min-width: 800px) {
  .main    { flex: 2 0px; }
  .main    { order: 1; }
  .footer  { order: 3; }
}
.appdiv{
  height: 100%;
  margin: 0;
  padding: 0;
}
//END ROOT and APPDIV

//NAV BAR
.navul {
  list-style: none;
  margin: 0;
  margin-bottom: 25px;
  height: 65px;
  background: rgba(240,240,247,.5);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image:  url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  -webkit-animation: stars 100s linear infinite;
  -moz-animation: stars 100s linear infinite;
  -ms-animation: stars 100s linear infinite;
  animation: stars 100s linear infinite;
  -webkit-transition: background-color 10s ease-in;
  -moz-transition: background-color 10s ease-in;
  -o-transition: background-color 10s ease-in;
  transition: background-color 10s ease-in;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
@keyframes stars {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes stars {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes stars {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes stars {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
.navul:hover {
  background-image:  url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  background-color: black;
}

.navul a {
  text-decoration: none;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  color: white;

}
.navul li:hover {
  background: darken(rgba(240,240,240,.5), 5%);
  cursor: pointer;
  border-radius: 3px;
}
.navDesc{
  display: none;
  padding: 0;
  margin: 0;
}
.navli:hover .navDesc{
  display: block;

}
@media all and (max-width: 800px) {
  .navul {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navul {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navul a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navul li:last-of-type a {
    border-bottom: none;
  }
}
.chat{
  background-image: asset-data-url("chat.svg");
  height: 50px;
  width: 50px;
  z-index: 1;
}
.home{
  background-image: asset-data-url("home.svg");
  height: 50px;
  width: 50px;
  z-index: 1;
}
.saved{
  background-image: asset-data-url("saved.svg");
  height: 50px;
  width: 50px;
  z-index: 1;
}
.searchListings{
  background-image: asset-data-url("searching.svg");
  height: 50px;
  width: 50px;
  z-index: 1;
}
.logout{
  background-image: asset-data-url("logout.svg");
  height: 50px;
  width: 50px;
  z-index: 1;
  justify-content: flex-end;
}
.navli .authDiv{
  position: relative;
  bottom: 15%;
}
.logoutButton{
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: black;
  border: none;
  background: none;
  display: block;
  z-index: 2;
}


.login{
  background-image: asset-data-url("login.svg");
  height: 50px;
  width: 50px;
  z-index: 1;
  justify-content: flex-end;
}
.logoutli{
  justify-content: flex-end;
  height: 65px;
}
//END NAV BAR

//START CONTENT PANE
.main{
  text-align: left;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  background: rgba(255,255,255,.75);
}
//END CONTENT PANE
// PROFILE STYLING
.profile{
  position: relative;
  height: auto;
  width: 60%;
  left: 10%;
}
.profilephoto{
  width: 200px;
  height: auto;
  border: 10px solid rgba(0,0,0,.2);
  border-radius: 10px;
  left: 195px;
}
.usernamedisp{
  color: black;
  font-size: 24px;
}
.profdesc{
  resize: none;
  min-height: 300px;
  height: auto;

  width: 200px;
}
//END PROFILE STYLING
//START LISTING STYLING
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 50%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;

}

.index {
  position: relative;
  text-align: left;
  width: 50%;
  overflow-y: scroll;
  height: 650px;
}

@media all and (min-width: 800px) {
  .index { flex: 2 0px; }
  .index { order: 1; }
}
.map{
  position: absolute;
  display: block;
  height: 650px;
  left: 50%;
  width: 47.8%;
  border: 1px solid black;
  margin: 10px;
}
li > button{
  display: none;
}
.sliderimage{
  width: 400px;
  height: 400px;
}
.listContainer{
  position: relative;
}
.list-btn{
  position: absolute;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background: rgba(0,0,0, .6);
  padding: 5px;
  width: 50px;
  margin: 3px 3px;
  top: 0;
  right: 0;
}
.list-btn:hover{
  cursor: pointer;
  background: rgba(0,0,0, .75);
}
.indexForm{
  position: relative;
  padding: 10px;
  border-radius: 30px;
}
.searchIndex, .savedIndex{
  overflow: auto;
  height: 900px;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 10px;
  border-radius: 30px;
}

.listingcollection {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.listing-index-item {
  display: relative;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin: 10px;
  width: 300px;
  height: 450px;
}
.slider-frame{
  border-radius: 3px;
}
.title{
  padding-left: 5px;
}
.price{
  position: relative;
  bottom: 100px;
  background: rgba(0,0,0, .6);
  width: 70px;
  color: ghostwhite;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
}
.bedroom{
  position: relative;
  left: 202px;
  bottom: 140px;
  text-size: 16px;
  background: hsla(0,0%,0%,0.6);
  width: 90px;
  color: ghostwhite;
  height: 1.5em;
  line-height: 1.5em;
  padding-left: .5em;
}
//END LISTING STYLING
//SIGN IN STYLE

  .log{
    html{
      background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg') no-repeat center center fixed;
    }
    height: 100%;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .signup{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-label{
    font-weight: 400px;
    font-size: 20px;
  }
  .form-input{
    padding: 5px;
  }
  .form-submit{
    color: white;
    text-size: 300px;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background: black;
    opacity: .5;
  }
  .form-submit:hover{
    opacity: .75;
  }
//SIGN IN STYLE END

//CHAT STYLING
.chatpane{
  width: 50%;
  margin: 0 10%;
}
.chatIndex{

}
.chatList{
  list-style: none;
  padding-left: 0;
}
.chatTitle{
  min-height: 3em;
  line-height: 3em;
}
.chatItem{
  margin: 0;
  text-size: 20px;
  border-radius: 10px;
}
.chatName{
  color: white;
  background: black;
  opacity: .25;
  padding-left: 5px;
  padding-right: 5px;
}
.chatName:hover{
  opacity: .5;
}
.chatappear-enter{
  opacity: 0.01;
}
.chatappear-enter.chatappear-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.chatappear-leave{
  opacity: 1;
}
.chatappear-leave.chatappear-leave-active{
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.messageGroup{

  position: relative;
  width: 50%;

  width: 100%;
  background: rba(0,0,0,.3);
  color: black;
}
.messageList{
  position: relative;
  list-style: none;
  background: ghostwhite;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  height: 350px;
  overflow-y: scroll;
  padding: 0;
}
.message{
  padding-bottom: 1em;
  padding-top: 1em;
  line-height: 1em;
  position: relative;
  display: block;
  background: white;
  text-align: left;
  height: 1em;
  position: relative;
  width: auto;
  padding-left: .5em;
  border-bottom: .01em ridge;
}
.messageText{
  margin: 0;
  width: auto;
}
.messageForm{

}
.messageInput{

}
.messageSubmit{

}

//END CHAT STYLING


//FOOTER STYLE
.footer{
  position: fixed;
}
.push{
  height: 4em;
}
//END FOOTER STYLE
