
//DESIGN GROUP

// body{
//   border: 5px dashed rgba(0, 0, 0, .7);
// }
// #root{
//   border: 5px dashed rgba(50, 0, 0, .4);
// }
// .appdiv{
//   border: 5px dashed rgba(100, 0, 0, .7);
// }
// .navul{
//   border: 5px dashed rgba(200, 0, 0, .7);
// }
// .navul a {
//   border: 1px dashed rgba(255, 0, 0, .7);
// }
// .main{
//   border: 5px dotted rgba(0, 0, 0, .7);
// }
// .profile{
//   border: 1px dashed rgba(150, 0, 0, .4);
// }
// .profilephoto{
//   border: 1px dashed rgba(200, 0, 0, .4);
// }
// .usernamedisp{
//   border: 1px dashed rgba(250, 0, 0, .4);
// }
// .profdesc{
//   border: 1px dashed rgba(0, 0, 0, .4);
// }
// .indexForm{
//   border: 3px dashed rgba(150, 0, 0, .7);
// }
// .searchIndex, .savedIndex{
//   border: 3px dashed rgba(150, 0, 0, .7);
// }
// .footer{
//   border: 5px dashed rgba(0, 0, 0, .4);
// }
//End DESGIN GROUP

//WORKING GROUP
#root{
  z-index: 0
}
//END WORKING GROUP




//STYLING START
html{
//  background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}
body {
    margin: 0 !important;
    padding: 0 !important;
}
//ROOT and APPDIV
#root{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height:100%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}
#root > * {
  padding: 10px;
  flex: 1 100%;
}
@media all and (min-width: 800px) {
  .main    { flex: 2 0px; }
  .main    { order: 1; }
  .footer  { order: 3; }
}
.appdiv{
  height: 100%;
}
//END ROOT and APPDIV

//NAV BAR
.navul {
  list-style: none;
  margin: 10px;

  background: rgba(240,240,247,.5);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.navul a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;

}
.navul a:hover {
  background: darken(rgba(240,240,240,.5), 5%);
  cursor: pointer;
  border-radius: 3px;
}
@media all and (max-width: 800px) {
  .navul {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navul {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navul a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navul li:last-of-type a {
    border-bottom: none;
  }
}
.chat{
  background-image: asset-data-url("chat.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.home{
  background-image: asset-data-url("home.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.saved{
  background-image: asset-data-url("saved.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.searchListings{
  background-image: asset-data-url("searching.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
}
.logout{
  background-image: asset-data-url("logout.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
  justify-content: flex-end;
}
.logoutdrop{
  position: relative;
}
.login{
  background-image: asset-data-url("login.svg");
  height: 80px;
  width: 80px;
  z-index: 1;
  justify-content: flex-end;
}
.logoutli{
  justify-content: flex-end;
}
//END NAV BAR
//START CONTENT PANE
.main{
  text-align: left;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -4em;
  background: rgba(255,255,255,.75);
}
//END CONTENT PANE
// PROFILE STYLING
.profile{
  position: relative;
  height: auto;
  left: 10%;
}
.profilephoto{
  width: 200px;
  height: auto;
  border: 10px solid rgba(0,0,0,.2);
  border-radius: 10px;
  left: 195px;
}
.usernamedisp{
  color: black;
  font-size: 24px;
}
.profdesc{
  resize: none;
  min-height: 300px;
  height: auto;

  width: 200px;
}
//END PROFILE STYLING
//START LISTING STYLING
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 50%;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;

}
.form {
}
.index {
  position: relative;
  text-align: left;
  width: 47%;
  overflow-y: scroll;
  height: 650px;
}

@media all and (min-width: 800px) {
  .index { flex: 2 0px; }
  .index { order: 1; }
}
.map{
  position: absolute;
  display: block;
  height: 650px;
  left: 50%;
  width: 47.8%;
  border: 1px solid black;
  margin: 10px;
}
li > button{
  display: none;
}
.sliderimage{
  width: 400px;
  height: 400px;
}
.listContainer{
  position: relative;
}
.list-btn{
  position: absolute;
  background: black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  opacity: .5;
  padding: 5px;
  width: 50px;
  margin: 3px 3px;
  top: 0;
  right: 0;
}
.list-btn:hover{
  cursor: pointer;
  opacity: .75;
}
.indexForm{
  position: relative;
  padding: 10px;
  border-radius: 30px;
}
.searchIndex, .savedIndex{
  overflow: auto;
  height: 900px;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0 10px;
  border-radius: 30px;
}

.listingcollection {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.listing-index-item {
  display: relative;
  border-radius: 15px;
  border: 10px;
  background: rgba(0,0,0, .1);
  padding: 10px;
  margin: 1px;
  width: 300px;
  height: 515px;
}
//END LISTING STYLING

//SIGN IN STYLE\

  .log{
    html{
      background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg') no-repeat center center fixed;
    }
    height: 100%;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .signup{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .form-label{
    font-weight: 400px;
    font-size: 20px;
  }
  .form-input{
    padding: 5px;
  }
  .form-submit{
    color: white;
    text-size: 300px;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background: black;
    opacity: .5;
  }
  .form-submit:hover{
    opacity: .75;
  }
//SIGN IN STYLE END
//FOOTER STYLE
.footer{
  position: fixed;
}
.push{
  height: 4em;
}
//END FOOTER STYLE
