// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
}
body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.username{
  font-size: 24px;
  color: white;
}
.logobox{
  color: white;
  font-size: 24px;
  margin: 10px auto;
  padding: 0;
  height: 75px;
  width: 300px;
  background-color: black;
  opacity: .5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 20px black;
}
.logobox:hover{
  opacity: .75;
}
.logo{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  opacity: .75;
  transition: transform 1s ease;
}
body:hover .logo{
  opacity: 1;
  transform: translateY(-100px);
}
