// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  background: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Orion_Nebula_%28M42%29_part_HST_4800px.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  font-family: 'Josefin Sans', sans-serif;
}

.email {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  width: 100%;
  box-sizing: content-box;
}
.button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  box-sizing: content-box;
  width: 75%;
  position: relative;
  display: block;
  top: 10px;
}
body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logobox{
  color: white;
  font-size: 24px;
  margin: 0 auto;
  padding: 0;
  height: 75px;
  width: 300px;
  background-color: black;
  opacity: .5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
h4 {
  margin: 0;
  top: 0px;
  font-weight: 500;
  position: relative;
  line-height: 0px;
}
form{
  position: relative;
  top: 10px;
  padding: 5px;
}
.logo{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
